<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
<!--
 <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
-->

  <!-- name_risk Column -->
  <ng-container matColumnDef="risk_name">
    <th mat-header-cell *matHeaderCellDef> RISK NAME </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)"> {{element.name_risk}} </td>
  </ng-container>

  <!-- source asset Column -->
  <ng-container matColumnDef="source_asset_name">
    <th mat-header-cell *matHeaderCellDef> SOURCE ASSET</th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)"> {{element.source_asset}} </td>
  </ng-container>

  <!-- target asset Column -->
  <ng-container matColumnDef="target_asset_name">
    <th mat-header-cell *matHeaderCellDef> TARGET ASSET</th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)"> {{element.target_asset}} </td>
  </ng-container>

  <!-- lindun Column -->
  <ng-container matColumnDef="linddun">
    <th mat-header-cell *matHeaderCellDef> linddun </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)"> {{element.lindun}} </td>
  </ng-container>

  <!-- stride Column -->
  <ng-container matColumnDef="stride">
    <th mat-header-cell *matHeaderCellDef> &nbsp;  STRIDE  &nbsp; </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)">
      <div *ngIf="element.stride === '' || element.stride == null">&nbsp; null &nbsp;</div>
      <div *ngIf="element.stride != ''"> {{element.stride}}</div>
    </td>
  </ng-container>

  <!-- category Column -->
  <ng-container matColumnDef="catagory">
    <th mat-header-cell *matHeaderCellDef scope="col"> CATEGORY  </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="getbackgroundColor(element)">
      <mat-select  *ngIf="element.description == undefined" panelClass="example-panel-dark-blue"
      (selectionChange)="setCategory($event.value, element)">
        <mat-option  *ngFor="let cust of ['Access','Modification','Deletion']"
        [value]="cust"> {{cust}}
      </mat-option>
    </mat-select>
    <p  *ngIf="element.description != undefined ">{{element.description}}</p>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!--
<tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
  -->



</table>
